body{
    background-color: black;
}

#herói, .curiosidades, .lista{
    color: white;
}

#imagem{
    border-width: 3px;
    border-color: white;
    border-style: solid;
}

.titulo, #aranha{
    color: red;
}

#tabela{
    border-collapse: collapse;
    width: 100%;
    border: 1px solid;
    border-color: white;
}

.informacoes{

    color: white;
    border-color: white;
    border: 1px solid;
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    padding: 8px;
}